@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	line-height: 1.6rem;
	min-height: 100vh;
	overflow-x: hidden;
}
h1,h2,h3,h4,h5,h6{
    line-height: 2.5rem;
}
img{
	max-width: 100%;
}
*{
	box-sizing: border-box;
}
*:focus{
	outline: none;
}
.text-center{ text-align: center; }
.arrow{
	color: #173245;
	font-size: 40px !important;
}
.clear{
	clear:both;
}
button, input, select, textarea{
	border-radius: 14px;
	padding: 15px 20px;
	width: 100%;
	margin: 10px 0;
	cursor: pointer;
	font-weight: bold;
	border: 2px solid #173245;
	color: #000000;
	background-color: #ffffff;
}
button{
	/*box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.25);*/
}
input, select{
	/*box-shadow: inset 0px 0px 7px rgba(0, 0, 0, 0.30);*/
	/*border: none;*/
}
select{
	-webkit-appearance: none;
}
input[type=checkbox]{
	width: unset;
}
a{
	color: #173245;
	text-decoration: underline;
}
.small{
	font-size: 0.5em;
}

.btn-outline{
	border: 2px solid #173245;
	color: #173245;
	background: #ffffff;
}
.btn-primary{
	background: #FF3939;
	border: 2px solid #FF3939;
	color: #ffffff;
}
#loader{
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	opacity: 0;
	transition: opacity 300ms ease;
}
#loader #loader-img{
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	font-size: 30px;
}
#loader-img img{
	margin-bottom: 20px;
	/*width: 30%;*/
}
@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #loader {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.5);  
  }
}
#start{
	background: rgb(49,206,213);
	background: linear-gradient(45deg, rgba(49,206,213,1) 0%, rgba(107,174,225,1) 50%, rgba(163,143,244,1) 100%);
	height: 100vh;
}

#header{
	position: absolute;
	left: 20px;
/*	top: 20px;
	max-width: 350px;
	width: 25% !important;
	min-width: 150px;*/
}
#header img{
	width: calc(100% - 400px);
}
#hero{
	width: 50%;
	float: left;
	position: relative;
	height: 100vh;
/*	background-size: cover;
	background-repeat: no-repeat;*/
}
#hero img{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	max-height: 60vh;
	transition: opacity 300ms ease;
}
#content{
	width: 40%;
	float: right;
	position: relative;
	height: 100vh;
	overflow: hidden;
	/*overflow-y: auto;*/
}

.content{
	background: #ffffff;
	padding: 20px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
/*	width: 450px;
	max-width: calc(100% - 100px);*/
	overflow: hidden;
}
#content-start{
	position: absolute;
	right: 20px;
	bottom: 0;
	transition: bottom 300ms ease;
	overflow-y: auto;
    max-height: 100vh;
    width: 400px;
}
#content-registration1, #content-registration2, #content-registration3, #content-login{
	position: absolute;
	right: 20px;
	bottom: -300vh;
	transition: bottom 300ms ease;
	overflow-y: auto;
    max-height: 100vh;
    width: 400px;
}

#selectlevelready{
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	text-align: center;
	color: #FFFFFF;	
	margin: 0 20px 20px;
}

#dash-menu{
	width: 20%;
	background: #173245;
	height: 100vh;
	color: #ffffff;
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
}

#mini-profile{
	padding: 20px;
}
#mini-avatar{
	width: 25%;
	float: left;
}
#mini-name{
	width: 73%;
	float: right;
}
#mini-name-name{
	font-size: 30px;
}

#dash-menu ul{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 20px;
}
#dash-menu ul li{
	
}
#dash-menu ul li a{
	color: #ffffff;
	text-decoration: none;
	padding: 5px 10px 5px 20px;
	width: 100%;
	border-top-right-radius: 14px;
	border-bottom-right-radius: 14px;
	display: block;
}
#dash-menu ul li a:hover{
	background: #ffffff;
	color: #173245;
}
#dash-content{
	margin-left: 20%;
	padding: 20px;
}
.subject{
	width: 90%;
	margin: 10px 5%;
	background: rgba(163,210,153,0.5);
	padding: 20px;
	border-radius: 14px;
}
.subject-icon{
	float: left;
	width: 100px;
	background: #a3d299;
	border-radius: 14px;
	height: 100px;
	overflow: hidden;
}
.subject-card{
	float: left;
	width: calc(100% - 100px);
	padding-left: 20px;
}
.subject h2{
	margin: 0;
	margin-bottom: 10px;
}
#search{
	text-align: right;
}
#search input{
	width: 25%;
	/*float: right;*/
}
#search .fa{
	font-size: 24px;
}



.topic{
	width: 90%;
	margin: 10px 5%;
	background-color: #173245;
	padding: 20px;
	border-radius: 14px;
	/*background: url('../assets/cells.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
	color: #ffffff;
}
.topic a{
	color: #ffffff;
}
.topic-icon{
	float: left;
	width: 100px;
	background: #a3d299;
	border-radius: 14px;
	height: 100px;
	overflow: hidden;
}
.topic-card{
	float: left;
	width: calc(100% - 100px);
	padding-left: 20px;
}
.topic h2{
	margin-top: 200px;
	margin-bottom: 10px;
}
#dash-content>div{
	display: none;
}
.subject{
	cursor: pointer;
}

.mobile-menu-container {
  display: inline-block;
  cursor: pointer;
  display: none;
  position: absolute;
  top: 57px;
  right: 30px;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #ffffff;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}
@media only screen and (max-width: 1024px) {
	body>div>div{
		width: 98% !important;
		margin: 0 1%;
		float: unset !important;
		height: unset !important;
	}
	#hero img{
		transform: translateY(25%);
		top: 0;
	}
	#content{
		height: 100vh !important;
	}
	#content>div{
		right: 0;
		max-width: 550px;
	}
	#dash-menu{
		padding: 20px;
		border-bottom-left-radius: 40px;
		border-bottom-right-radius: 40px;
		height: 120px !important;
		max-height: 120px;
		overflow: hidden;
		transition: max-height 300ms ease;
	}
	#dash-content{
		margin: 0;
		margin-top: 110px;
	}
	#mini-avatar img {
	    position: fixed;
	    z-index: 9999;
	    width: 20%;
	}
	#dash-menu ul{
		display: none;
		margin-top: 65px;
	}
	#mini-profile{
		padding: 0 20px;
	}
	#search input{
		width: 65%;
	}

	.mobile-menu-container {
	  display: block;
	}
	#dash-menu.visible{
		height: unset !important;
		max-height: 200vh;
		transition: max-height 300ms ease;
	}
	#dash-menu.visible ul{
		display: block;
	}
}
@media only screen and (max-width: 500px) {
	#header img {
	    width: 100%;
	}
	#content-start,	#content-registration1, #content-registration2, #content-registration3, #content-login{
		width: 100%;
	}
	.btn-primary{
		margin-bottom: 40px;
	}
	#hero img{
	    margin: 20px 10%;
	    width: 80%;
	}
	#dash-menu ul{
		margin-top: 0px;
	}

}




body>div{
	display: none;
	z-index: 9998;
}
#loader{
/*	display: block;
	opacity: 1;*/
}
